@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    width: 100%;
    height: 100%;
    background-color: #10101a;
    @apply text-white;
    scrollbar-width: thin;
    scrollbar-color: red blue;
}

.snap-scrollbar-container {
    scroll-snap-type: y mandatory;
}

.snap-scrollbar-children {
    scroll-snap-align: start;
}
